.navbar-brand {
  font-size: 2rem;
  border-width: 0.2rem;
  border-style: solid;
  border-radius: 0%;
  padding: 10px;
  margin-left: 2%;
}

.navbar-nav {
  margin-right: 2%;
}

.nav-item {
  font-size: 1.75rem;
}

.header-main {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0 15px;
  width: 100%;
  height: 90vh;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.name {
  font-size: 4rem;
  font-weight: 600;
}

.name-des {
  text-align: center;
  font-size: 2.7rem;
  font-weight: 400;
}

.memoji-pic {
  display: flex;
  justify-content: center;
  align-self: center;
  flex: 1;
}

main {
  padding: 5% 0;
}

h2 {
  width: 50%;
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 2%;
  text-align: right;
  padding: 2%;
  border-radius: 0 10px 10px 0;
  margin-top: 3%;
  margin-bottom: 3%;
  box-shadow: 5px 5px 5px grey;
}

.about-content {
  font-size: 1.5rem;
  margin: 30px auto;
  background-color: white;
  padding: 2%;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px grey;
  width: 80%;
  line-height: 1.6em;
}

.skills {
  background-color: white;
  padding: 2%;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px grey;
}

.skill-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2% auto;
  width: 80%;
  gap: 25px;
}

.skill {
  margin: 20px 20px 0px 20px;
  background-color: white;
  border-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px grey;
  width: 175px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill:hover {
  transform: scale(1.05);
}

.skill-img {
  width: auto;
  height: 100px;
  padding: 15px;
}

.skill-des {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}

@media screen and (max-width: 930px) {
  .header-main {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 531px) {
  .name {
    font-size: 2.2rem;
  }
  .name-des {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 780px) {
  .about-content {
    width: 65%;
  }
  .skill-container {
    width: 65%;
  }
}

@media screen and (max-width: 925px) {
  .skill-container {
    margin: 1% auto;
    margin-bottom: 8%;
    justify-content: space-between;
  }
  .skill {
    width: 90px;
    height: auto;
    margin: 10px 0;
  }
  .skill-img {
    width: auto;
    height: 75px;
  }
  .skill-des {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.5rem;
    margin-bottom: 8%;
  }
  .about-content {
    font-size: 1.2rem;
  }
  .social {
    flex-direction: column;
    background-color: saddlebrown;
  }
  .social-link {
    background-color: royalblue;
  }
}

.skill-blank {
  height: 0;
  box-shadow: none;
}

.project-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.social-link {
  display: flex;
  max-width: 175px;
  height: auto;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  color: rgb(34, 37, 41);
}

a > img {
  height: 50px;
  width: auto;
}

footer {
  height: 40px;
  width: 100%;
}
